doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', media='screen', href='./style.css')
    title Page d'accueil test serveur (localhost)
  body
    
    nav.glass
      ul#top.nav.justify-content-center.sticky-top.mb-5.bg-light
        li.nav-item
          a.nav-link.active(href='#about') A propos
        li.nav-item
          a.nav-link(href='#changes') Changements
        li.nav-item
          a.nav-link(href='#docroot') Documentation
        li.nav-item
          a.nav-link(href='#bugs') Problèmes
        //- li.nav-item
        //-   a.nav-link(href='scope') Modifs
        //- li.nav-item
        //-   a.nav-link(href='files') Config
    header   
      h1.float-right
        | Page d'accueil test serveur (localhost)

    section
      div.card.glass
        p test ok

    footer.glass
      span debian server
      span &copy;
      span 2020