* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body,
html {
    padding: 0;
    background-image: url("./img/debian10.jpg");
    background-size: cover;
    /* backgro */
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px rgba(0,0,0,0.65)
}


header {
    margin: 4rem;
}

p {
    /* color: white; */
    text-align: justify;
}

nav {
    /* background: rgba(0,0,0,0.15); */
    margin-bottom: 3rem;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}


footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    margin: auto;
}
footer span {
    margin: 0 0.33rem;
}

.glass{
    background: rgba(0,0,0,0.15);
} 

.card {
    max-width: 200px;
    height: 250px;
    padding: 0.25rem 0;
    margin: 1rem;
}

.card p {
    font-weight: 100;
    padding: 0.5rem 0.25rem;

}
.card p:hover {
    background: rgba(0,0,0,0.05);
    color: #ddd;
    border-top: 1px inset rgba(0,0,0,0.1);
    border-bottom: 1px outset rgba(0,0,0,0.1);
}
.card p:hover span {
    color: #0ee;
}

.border {
    border-radius: 10px;
    border: 2px outset rgba(0,0,0,0.05);
} 

.on {
    color: #0dd;
}
.off {
    color: pink;
}
